/* Dark Mode Styling for List Items */
body.dark-theme ion-item {
    background-color: #121212; /* Dark background for items */
  }
  
  body.dark-theme ion-label {
    color: white; /* White text color in dark mode */
  }
  
  body.dark-theme ion-button {
    color: white; /* Ensure buttons have white text in dark mode */
  }